/* Solo preparado */
.preparado {
	background: #b8860b;
	border: 2px solid #8b5c00;
	background-image: url('Tiles/tile_0001.png') !important;
	background-size: cover !important;
	background-position: center !important;
}

/* Plantio das sementes */
.plantado-cenoura {
	background: #ff9800 !important;
	border: 2px solid #b36b00 !important;
	background-image: url('Tiles/tile_0002.png') !important;
	background-size: cover !important;
	background-position: center !important;
}
.plantado-tomate {
	background: red !important;
	border: 2px solid #a31515 !important;
	background-image: url('Tiles/tile_0003.png') !important;
	background-size: cover !important;
	background-position: center !important;
}
.plantado-alface {
	background: #81c784 !important;
	border: 2px solid #388e3c !important;
	background-image: url('Tiles/tile_0004.png') !important;
	background-size: cover !important;
	background-position: center !important;
}

/* Estilo da grade 12x12 */

.grade {
	display: grid;
	grid-template-columns: repeat(12, 56px);
	grid-template-rows: repeat(12, 56px);
	gap: 4px;
	margin: 60px auto;
	width: max-content;
}

/* Estilo das células */
.celula {
	width: 56px;
	height: 56px;
	border: 1.5px solid #ccc;
	box-sizing: border-box;
	background: #f8f8f8;
	font-size: 1.2rem;
}


.pedra {
	background: #888;
	border: 2px solid #555;
	background-image: url('Tiles/tile_0077.png');
	background-size: cover;
	background-position: center;
}


.erva {
	background: #4cac4f;
	border: 2px dashed #2e7d32;
	background-image: url('Tiles/tile_0007.png');
	background-size: cover;
	background-position: center;
}


.vazio {
	
	background-image: url('Tiles/tile_0025.png');
	background-size: cover;
	background-position: center;
}
